.form-control
{
    margin:1 rem 0;
}
.form-control label,
.form-control input,
.form-control textarea
{
    display:block;
}
.form-control label
{
   font-weight:bold;
   margin-bottom: 0.5 rem;
}
.form-control input,
.form-control textarea
{
    width:100%;
    font:inherit;
    border: 1px solid #ccc;
    background:#f8f8f8;
    padding: 0.15 rem 0.25 rem;
}
.form-control input:focus,
.form-control textarea:focus
{
  outline:none;
  background:#ebebeb;
  border:#510007;
} 
.form-control --invalid label,
.form-control --invalid p
{
    color:red;
}