.modal
{
    z-index:100;
    position:fixed;
    top:22vh;
    left:10%;
    width:80%;
    background:white;
    box-shadow:0 2px 8px rgba(0,0,0,0.26);
    border-radius:8px;
}
.modal_header
{
    width:100%;
    padding:1rem 0.5rem;
    background:#2a006e;
    color:white;
}
.modal_header h2
{
    margin:0.5rem;
}
.modal_content
{
    padding:0.5rem 1rem;
}
.modal_footer
{
    padding:1rem 0.5rem;
}
@media(min-width:768px)
{
.modal
{
  left:calc(50% -20rem);
  
}
}